In [19]:
name = "Nazwa"
age = 20
address,province = "JL.Bhayangkara","7413412"
pythonScore = 90.0
isMarried = False

print("Nama :",name)
print("Umur ::",age)
print("Alamat :", address)
print("Provinsi :",province)
print("Nilai Pemograman :",pythonScore)
print("Status Menikah :",isMarried)

Nama : Nazwa
Umur :: 20
Alamat : JL.Bhayangkara
Provinsi : 7413412
Nilai Pemograman : 90.0
Status Menikah : False

In [14]:
print("Tipe Data (nama) :",type(name))
print("Tipe Data (age) :",type(age))
print("Tipe Data (address) :",type(address))
print("Tipe Data (province) :",type(province))
print("Tipe Data (scorePython) ;",type(pythonScore))
print("Tipe Data (isMarried) :",type(isMarried))

Tipe Data (nama) : <class 'str'>
Tipe Data (age) : <class 'int'>
Tipe Data (address) : <class 'str'>
Tipe Data (province) : <class 'str'>
Tipe Data (scorePython) ; <class 'float'>
Tipe Data (isMarried) : <class 'bool'>

In [27]:
#Casting atau Konversi Tipe Data
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool)

floatTostr = str(pythonScore)
floatToint = int(pythonScore)
floatTobool = bool(pythonScore)
print(floatTostr,floatToint,floatTobool)

boolTostr = str(isMarried)
boolToint = int(isMarried)
boolTobool = bool(isMarried)
print(boolTostr,boolToint,boolTobool)

7413414 7413412.0 True
20 20.0 True
90.0 90 True
False 0 False

In [36]:
#Casting atau Konversi Tipe Data
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

7413414 7413412.0 True

In [32]:
#String adalah kumpulan dari beberapa karakter dan immutable
city = "Bandung"
panjang = len(city)
print(city[0])
print(city[panjang-1])

B
g

In [35]:
desimal = 500
biner = 0b1111
octal = 0o377
hexa = 0xff

print("Nilai desimal:",desimal)
print("Nilai biner:",biner)
print("Nilai octal:",octal)
print("Nilai hexa:",hexa)

print("Biner dari",desimal,":",bin(desimal))
print("octal dari",desimal,":",oct(desimal))
print("hexa dari",desimal,":",hex(desimal))

Nilai desimal: 500
Nilai biner: 15
Nilai octal: 255
Nilai hexa: 255
Biner dari 500 : 0b111110100
octal dari 500 : 0o764
hexa dari 500 : 0x1f4

In [64]:
#Tipe Data Collection 
cities = ["Sukabumi","Bali","Bandung","Malang"] #List
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "jakarta"
print(cities)
          
hobbies = ("Dance","Sholat","MenontonBts")
print(hobbies)
print(hobbies[0])
#hobbies[0] = "Waching Netflix" error program

studentData = {
    "name" : "Ara",
    "age" : 20,
    "address" : {
         "Street" : "JL.Bhayangkara",
         "number" : 34,
         "province" : "kab.Sukabumi"
    }  
}

print(studentData)
print(studentData["name"])
print(studentData["address"] ["province"])

print(studentList)

myList = [
    
 {
    "name" : "taehyung",
    "age" : 25,
    "address" : {
         "Street" : "JL.Annyeoung",
         "number" : 30,
         "province" : "kab.yeon"
    }  
}
]

['Sukabumi', 'Bali', 'Bandung', 'Malang']
Sukabumi
Malang
['Sukabumi', 'jakarta', 'Bandung', 'Malang']
('Dance', 'Sholat', 'MenontonBts')
Dance
{'name': 'Ara', 'age': 20, 'address': {'Street': 'JL.Bhayangkara', 'number': 34, 'province': 'kab.Sukabumi'}}
Ara
kab.Sukabumi
{'name': 'Ara', 'age': 20, 'address': {'Street': 'JL.Bhayangkara', 'number': 34, 'province': 'kab.Sukabumi'}}